/* .cmb-navbar {
  background-image: linear-gradient(var(--c-lneutral), var(--c-neutral));
  box-shadow: 8px 10px 20px var(--c-dtaupe);
}
  
.navbar-brand {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--c-dpink) !important;
  text-shadow: 8px 10px 10px var(--c-taupe);
} */