:root {
  --c--black: #000000;
  --c-dpink: #f30343;
  --c-dtaupe: #947879;
  --c-taupe: #c39ea0;
  --c-neutral: #f8e5e5;
  --c-lneutral: #faf5f5;
  --c-llneutral: #fdf9f9;
  --c-white: #ffffff;
  --c-ddblue: #0a111f;
  --c-dblue: #14213d;
  --c-blue: #3b465d;
  --c-lblue: #566a9c;
  --c-dgrey: #24292e;
  --c-grey: #333a41;
  --c-lgrey: #464d55;

  --c-silver: #c6b4ad;
  --c-dslategray: #2e3136;
  --c-ddslategray: #1d1f22;
  --c-shadow: #644420;
  --c-lshadow: #90612b;
  --c-dwhitesmoke: #d6d0d0;
  --c-whitesmoke: #f5f5f5;
  --c-lwhitesmoke: #ffffff;
  --c-lraspberrysorbet: #cd4a77;
  --c-raspberrysorbet: #db2565;
  --c-draspberrysorbet: #d31759;
  --c-ddraspberrysorbet: #c70448;
  --c-dddraspberrysorbet: #ac003c;
  --c-marigold: #feae51;
  --c-dmarigold: #e49b48;
  --c-ddmarigold:#d38b38;
  --c-frenchblue: #3078b4;
  --c-dfrenchblue: #276292;
  --c-ddfrenchblue: #1a4a70;
  --c-white: #ffffff;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--c-llneutral);
}

body {
  /* background-color: var(--c-llneutral); */
  font-family: 'Public Sans', sans-serif;
  color: var(--c-ddblue);
}

main {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: var(--c-llneutral);
}

header {
  background-color: var(--c-llneutral);
}

.navbar {
  height: 6rem !important;
  background-color: var(--c-llneutral);
}

.navbar-brand {
  font-family: 'Lora', serif;
  font-size: 2em !important;
  height: 4rem !important;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: var(--c-ddslategray) !important;
  /* text-shadow: 8px 10px 10px var(--c-taupe); */
}

/* .navbar-brand span {
  font-family: 'Playfair Display', serif;
  font-size: .5em !important;
  font-weight: 500;
  margin-top: -3rem !important;
  color: var(--c-ddslategray) !important;
} */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--c-raspberrysorbet);
  border-width: medium;
} 


#name {
  font-size: 1.15em;
  font-weight: bold;
}

h1,
h2, 
h3, 
h4, 
h5 {
  font-family: 'Lora', sans-serif;
  /* font-weight: bolder; */
}

.cmb-headshot {
  box-shadow: 8px 10px 10px var(--c-taupe);
  border: .05em solid var(--c-neutral);
}

/* .about-contact {
  padding-left: 1em;
  padding-top: 1em;
} */

.resume {
  text-decoration: none;
  color: var(--c-dpink);
}

/* #resume-text {
  color: var(--c-dpink);
} */

.card {
  border-radius: 4px;
  background: var(--c-neutral);
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .4s transform cubic-bezier(.155,1.105,.295,1.12),.4s box-shadow,.4s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  opacity: 0.7;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  opacity: 1;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: var(--c-ddblue);
  border: .1em solid var(--c-taupe);
  border-radius: 10px;
  box-shadow: 8px 10px 10px var(--c-taupe);
  margin: .5em 1em 1em 0;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--c-dblue);
  border: .1em solid var(--c-blue);
  box-shadow: 8px 10px 10px var(--c-dtaupe);
  transform: scale(1.04);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: var(--c-dgrey);
  border: .1em solid var(--c-grey);
  border-radius: 10px;
  box-shadow: 8px 10px 10px var(--c-taupe);
  margin: .5em 1em 1em 0;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--c-grey);
  border: .1em solid var(--c-lgrey);
  box-shadow: 8px 10px 10px var(--c-dtaupe);
  transform: scale(1.04);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 3pt solid var(--c-raspberrysorbet);
  background-image: linear-gradient(var(--c-dslategray), var(--c-ddslategray));
  color: var(--c-silver);
}

.footer p {
  padding-top: .75em;
  padding-left: .75em;
}

.cmb-fa {
  text-decoration: none;
  color: var(--c-silver);
  font-size: 1.25em;
}

.cmb-fa:hover {
  color: var(--c-dpink);
  text-shadow: 8px 10px 10px var(--c-taupe);
}

/* .cmb-contact {
  background-image: linear-gradient(var(--c-dslategray), var(--c-ddslategray));
  color: var(--c-silver);
} */


/* .cmb-contact {
  background-color: var(--c-neutral);
} */

/* .cmb-madeforyou {
  background-color: var(--c-taupe);
  color: var(--c-lneutral);
} */

/*MediaQuery for Mobile*/
@media screen and (max-width: 480px) {
  body {
    background-color: var(--c-ddblue);
    color: var(--c-llneutral);
  }

  main {
    padding-top: 6rem;
  }

  .cmb-headshot {
    box-shadow: 8px 10px 10px var(--c-blue);
    border: .05em solid var(--c-blue);
  }

  h4 {
    color: var(--c-dblue);
  }

  .cmb-fa {
    text-decoration: none;
    color: var(--c-llneutral);
    font-size: 1.5em;
  }
  
  .cmb-fa:hover {
    color: var(--c-dpink);
    text-shadow: 8px 10px 10px var(--c-blue);
  }

  .text-muted {
    color: var(--c-llneutral) !important;
  }

  .card-title,
  .card-text {
    color: var(--c-dblue);
  }

  .card {
    border-radius: 4px;
    background: var(--c-neutral);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition:  none;
    opacity: 1;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    opacity: 1;
  }

  footer .cmb-fa {
    text-decoration: none;
    color: var(--c-ddblue);
    font-size: 1.5em;
  }
  
  footer .cmb-fa:hover {
    color: var(--c-dpink);
    text-shadow: 8px 10px 10px var(--c-taupe);
  }
}
