:root {
  --c-lneutral: #fdf9f9;
  --c-neutral: #f8e5e5;
  --c-lgrey: #6a6a6a;
  --c-grey: #333a41;
  --c-dgrey: #24292e;
  --c-ddgrey: #1d1f22;
  --c-lsienna: #e3a39c;
  --c-sienna: #b5434a;
  --c-dsienna: #97363d;
  --c-taupe: #c39ea0;
  --c-dtaupe: #947879;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--c-lneutral);
}

body {
  font-family: 'Roboto', sans-serif !important;
  color: var(--c-lgrey) !important;
  line-height: 1.625rem !important;
  font-weight: 300 !important;
  font-style: normal; 
}

main {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: var(--c-lneutral);
}

header {
  background-color: var(--c-lneutral);
}

.navbar {
  height: 6rem !important;
  background-color: var(--c-lneutral);
}

.navbar-brand {
  font-family: 'Lora', serif;
  font-size: 2em !important;
  height: 4rem !important;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: var(--c-ddgrey) !important;
}

.navbar-brand span {
  font-family: 'Roboto', sans-serif;
  font-size: .3em !important;
  font-weight: 500;
  letter-spacing: 0.19em;
  margin-top: -3rem !important;
  color: var(--c-ddgrey) !important;
  margin-left: 15em;
  color: var(--c-sienna) !important;
}

.nav-link {
  padding: .5rem 1.5rem;
  font-size: .9em !important;
  color: var(--c-lgrey);
  text-decoration: none;
  background-color: var(--c-lneutral);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link.active {
  border-bottom: .5px solid var(--c-sienna) !important;
  color: var(--c-ddgrey) !important;
  font-weight: 500 !important;
}

.custom-toggler {
  border-color: var(--c-sienna) !important;
  border-width: thick;
} 

h1,
h2, 
h3, 
h4, 
h5 {
  font-family: 'Lora', sans-serif;
  color: var(--c-ddgrey) !important;
}

.cmb-headshot {
  box-shadow: 8px 10px 10px var(--c-taupe);
  border: .02em solid var(--c-lneutral);
}

.cmb-neutralblock {
  background-color: var(--c-sienna);
}

.cmb-neutralblock h4 {
  color: var(--c-lneutral) !important;
}

.cmb-neutralblock p {
  color: var(--c-lneutral);
}

.card {
  border-radius: 4px;
  background: var(--c-neutral);
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .4s transform cubic-bezier(.155,1.105,.295,1.12),.4s box-shadow,.4s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  opacity: 0.7;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  opacity: 1;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: var(--c-dsienna) !important;
  border: .1em solid var(--c-sienna) !important;
  border-radius: 10px;
  box-shadow: 8px 10px 10px var(--c-taupe);
  margin: .5em 1em 1em 0;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--c-sienna) !important;
  border: .1em solid var(--c-lsienna) !important;
  box-shadow: 8px 10px 10px var(--c-dtaupe);
  transform: scale(1.04);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: var(--c-dgrey) !important;
  border: .1em solid var(--c-grey) !important;
  border-radius: 10px;
  box-shadow: 8px 10px 10px var(--c-taupe);
  margin: .5em 1em 1em 0;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--c-grey) !important;
  border: .1em solid var(--c-lgrey) !important;
  box-shadow: 8px 10px 10px var(--c-dtaupe);
  transform: scale(1.04);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--c-lneutral);
  color: var(--c-lsienna);
  background: linear-gradient(to left, rgba(253, 249, 249, 1) 0%,rgba(255,255,255,0) 45%);
}

.footer p {
  font-family: 'Roboto', sans-serif;
  padding-top: 1.1em;
  padding-left: .75em;
  font-size: .8em !important;
  color: var(--c-lsienna);
}

.cmb-fa {
  padding-top: .3em;
  text-decoration: none;
  color: var(--c-lsienna);
  font-size: 1.25em;
}

.cmb-fa:hover {
  color: var(--c-sienna);
}

.cmb-fa-nolink {
  padding-top: .3em;
  text-decoration: none;
  color: var(--c-lsienna);
  font-size: 1.25em;
}

.cmb-fa-nolink p {
  font-family: 'Roboto', sans-serif !important;
  color: var(--c-lgrey) !important;
  line-height: 1.625rem !important;
  font-weight: 300 !important;
  font-style: normal; 
  font-size: 1rem !important;
}

/*MediaQuery for Mobile*/
@media screen and (min-width: 0px) and (max-width: 480px) {
  main {
    padding-top: 6rem;
  }

  .navbar {
    padding: 0rem;
  }

  .navbar-brand {
    max-width: 50%;
  }

  .navbar-brand span {
    display: none !important;
  }

  .card {
    border-radius: 4px;
    background: var(--c-neutral);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition:  none;
    opacity: 1;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    opacity: 1;
  }

  footer {
    padding: 0px !important;
  }

  nav {
    padding: 2px !important;
    margin: 0px !important;
  }

  .cmb-cr {
    display: none !important;
  }
}
